body {
  background-image: url("back.jpg");
  color: white;

}
#search {
  font-size: 50px; 
  background-color: rgba(128, 128, 128, 0.666);
}
span {
  font-size: 50px;
}

#usersContainer {
  display: grid;
  grid-template-columns: auto auto;
}
.CssDiv {
  padding: 3%;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 3%;
  position: relative;
  width: 300px;
  height: 300px;

  box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.777);

  background-color: rgba(128, 128, 128, 0.837);
  border-radius: 15px;
}

/* Other-Data div: */
.ShowDiv {
  display: inline;
  position: absolute;
  left: 110%;
  top: 0px;
  padding: 10px;
  box-shadow: 5px 10px 18px black;
  border-radius: 15px;
  width: 300px;
  height: 300;
  margin: 10px;

  /* transition-duration: 1s; */
  background-color: rgba(66, 65, 65, 0.815);
}
.HideDiv {
  display: none;
}

/* To do and Post Divs */
.divShow {
  font-size: larger;

  background-color: rgba(0, 0, 0, 0.896);

  box-shadow: 5px 10px 18px #888888;
  border-radius: 15px;

  display: inline;
  position: absolute;
  padding: 4%;

  top: 0px;
  left: 0px;
  width: 350;
  height: 350px;
}
.divHide {
  display: none;
}

button {
  /* display: block; */
  padding: 10px;
  width: 130px;

  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px;
  margin-top: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  border-radius: 10px;
}

button:hover {
  background-color: #667292;
  color: white;
}
input {
  font-size: large;
}
p {
  font-size: large;
}

#Xbtn {
  font-size: larger;
  position: absolute;
  padding: 5px;
  margin: 15px;
  top: 0px;
  right: 0px;
  width: 40px;
}
